<!-- <h1>Sum of Variable title and Variable subtitle: {{ title + subtitle }}</h1>
<p>Sum: {{ sum(2, 4) }}</p>
<p>Get Array, FOR: {{ getArray() }}</p>

<button (click)="userCardCreated = !userCardCreated">Create and destroy user card</button>
<button (click)="selectedUser=users[0]">change to user 0</button>
<button (click)="selectedUser=users[1]">change to user 1</button>-->

@if(userCardCreated){
<user-card
  [name]="selectedUser.name"
  [email]="selectedUser.email"
  (sendData)="receiveData($event)"
>
<p>HEllO from FATHER</p>
<button>bUTTON FROM fATHER</button>
</user-card>
} @else{
  <p>User card destroyed</p>
}

<button (click)="addVideo()">ADD NEW VIDEO TO YOUTUBE</button>

<!-- <p>RESULT: {{ result }}</p>
<div class="container">
  <div class="column">
    <calculator (response)="onResult($event)"></calculator>
  </div>
  <div class="column">
    <history [history]="history"></history>
  </div>
</div>

<p *ngIf="var1 === var2 else elseold">Variables are equal</p>
<ng-template #elseold><p>old, result is false</p></ng-template>

@if(var1===var2){
  <p>New sintax, variables are equal</p>
} @else{
  <p>New sintax, result is false</p>
}

<p *ngFor="let item of students; let i=index">Student: {{item}} at index {{i}}</p>

@for(item of students; track item; let i=$index){
  <p>New Syntax Student: {{item}} at index {{i}}</p>
}

<div [ngSwitch]="var1">
  <p *ngSwitchCase="0">var is 0</p>
  <p *ngSwitchCase="1">var is 1</p>
  <p *ngSwitchCase="2">var is 2</p>
  <p *ngSwitchDefault>default</p>
</div>

@switch(var1){
  @case(0){<p>new syntax: value is 0</p>}
  @case(1){<p>new syntax: value is 1</p>}
  @case(2){<p>new syntax: value is 2</p>}
  @default{<p>new syntax: default</p>}
}

<div class="container">
  <div class ="column">
    @for(person of persons; track person){
      <person [person]="person"></person>
    }
  </div>
  <div class ="column">
    <div class="column-box">Total female gender: {{females}}</div>
    <div class="column-box">Total male gender: {{males}}</div>
    <div class="column-box">Total discounts: {{discounts}}</div>
    <div class="column-box-button" (click)="deleteDiscounts()">Delete People With Discounts</div>
  </div>
</div>

<counter></counter>

<button (click)="var1=var1+1">Increment var1</button>
<p>{{var1}}</p>-->