.container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.column{
    flex: 1;
    margin: 20px;
    align-items: center;
    justify-content: center;
}