.container {
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}