<div [ngClass]="{
  'user-card': password === '123',
  'user-card-black': password === 'hola'
}">
  <p [ngStyle]="{
    'background-color': password === 'red' ? 'red' : 'yellow',
  }">USER CARD COMPONENT</p>
  <p [style.backgroundColor]="password === 'red' ? 'red' : 'yellow'">INPUT NAME: {{ name }}</p>
  <p [class.user-card]="password === '123'">INPUT EMAIL: {{ email }}</p>

  <input type="text" [(ngModel)]="password">

  <button #buttonShow (click) = "showButton = !showButton">Show send data</button>

  @if(showButton){
    <button #buttonTest (click)="onSendData()">Send Data</button>
  }

  <p>PASSWORD: {{password}}</p>


  <ng-content></ng-content>

  <navbar></navbar>
  <card></card>
  <alert></alert>

</div>
