<div class="flex flex-row">
    <div *ngFor="let platform of platforms" 
         [ngStyle]="{'background-color': getPlatformColor(platform.platform)}" 
         class="flex flex-col items-center justify-center m-3 p-3 rounded-md">
      <div *ngIf="platform.platformType === 'premium'">
        ★
      </div>
  
      <p>{{ platform.platform | titlecase }}</p>
      
      <button class="bg-gray-200 rounded-md" (click)="addNewMedia(platform.platform)">Add a new {{ platform.type }}</button>
    </div>
  </div>