.calculator {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;

    .input-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        margin: 20px;
        justify-content: space-between;

        .sum {
            flex:1;
            background-color: yellow;
        }
        .mul {
            flex:1;
            background-color: papayawhip;
        }
        .reset {
            flex:1;
            background-color: aqua;
        }
    }
}